.animated {
  -webkit-animation-duration: 0.5s;
          animation-duration: 0.5s;
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
}
.animated.infinite {
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
}
.animated.hinge {
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
}

@-webkit-keyframes slideInLeft {
  0% {
    -webkit-transform: translateX(-100%);
            transform: translateX(-100%);
    visibility: visible;
  }

  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}
@keyframes slideInLeft {
  0% {
    -webkit-transform: translateX(-100%);
            transform: translateX(-100%);
    visibility: visible;
  }

  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

.slideInLeft {
  -webkit-animation-name: slideInLeft;
          animation-name: slideInLeft;
}

@-webkit-keyframes slideInRight {
  0% {
    -webkit-transform: translateX(100%);
            transform: translateX(100%);
    visibility: visible;
  }

  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}
@keyframes slideInRight {
  0% {
    -webkit-transform: translateX(100%);
            transform: translateX(100%);
    visibility: visible;
  }

  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}
.slideInRight {
  -webkit-animation-name: slideInRight;
          animation-name: slideInRight;
}

@-webkit-keyframes slideOutLeft {
  0% {
    -webkit-transform: none;
            transform: none;
  }

  100% {
    -webkit-transform: translate3d(-100%, 0, 0);
            transform: translate3d(-100%, 0, 0);
  }
}
@keyframes slideOutLeft {
  0% {
    -webkit-transform: none;
            transform: none;
  }

  100% {
    -webkit-transform: translate3d(-100%, 0, 0);
            transform: translate3d(-100%, 0, 0);
  }
}
.slideOutLeft {
  -webkit-animation-name: slideOutLeft;
          animation-name: slideOutLeft;
}

@-webkit-keyframes slideOutRight {
  0% {
    -webkit-transform: none;
            transform: none;
  }

  100% {
    -webkit-transform: translate3d(100%, 0, 0);
            transform: translate3d(100%, 0, 0);
  }
}
@keyframes slideOutRight {
  0% {
    -webkit-transform: none;
            transform: none;
  }

  100% {
    -webkit-transform: translate3d(100%, 0, 0);
            transform: translate3d(100%, 0, 0);
  }
}
.slideOutRight {
  -webkit-animation-name: slideOutRight;
          animation-name: slideOutRight;
}

@-webkit-keyframes zoomIn {
  0% {
    opacity: 0;
    -webkit-transform: scale3d(.2, .2, .2);
            transform: scale3d(.2, .2, .2);
  }

  50% {
    opacity: 1;
  }
}

@keyframes zoomIn {
  0% {
    opacity: 0;
    -webkit-transform: scale3d(.2, .2, .2);
            transform: scale3d(.2, .2, .2);
  }

  50% {
    opacity: 1;
  }
}

.zoomIn {
  -webkit-animation-name: zoomIn;
          animation-name: zoomIn;
}

@-webkit-keyframes slideOutDown {
  0% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }

  100% {
    visibility: hidden;
    -webkit-transform: translateY(100%);
            transform: translateY(100%);
  }
}

@keyframes slideOutDown {
  0% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }

  100% {
    visibility: hidden;
    -webkit-transform: translateY(100%);
            transform: translateY(100%);
  }
}

.slideOutDown {
  -webkit-animation-name: slideOutDown;
          animation-name: slideOutDown;
}

@-webkit-keyframes slideOutUp {
  0% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }

  100% {
    visibility: hidden;
    -webkit-transform: translateY(-100%);
            transform: translateY(-100%);
  }
}

@keyframes slideOutUp {
  0% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }

  100% {
    visibility: hidden;
    -webkit-transform: translateY(-100%);
            transform: translateY(-100%);
  }
}
.slideOutUp {
  -webkit-animation-name: slideOutUp;
          animation-name: slideOutUp;
}

@-webkit-keyframes slideInDown {
  0% {
    -webkit-transform: translateY(-100%);
            transform: translateY(-100%);
    visibility: visible;
  }

  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@keyframes slideInDown {
  0% {
    -webkit-transform: translateY(-100%);
            transform: translateY(-100%);
    visibility: visible;
  }

  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

.slideInDown {
  -webkit-animation-name: slideInDown;
          animation-name: slideInDown;
}
.mobile-calendar {
  position: fixed;
  z-index: 9999;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: #fff;
  font-size: 14px;
  overflow-x: hidden;
  overflow-y: auto;
}
.mobile-calendar-pane.month-view {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #fff;
  overflow: hidden;
}
.mobile-calendar-hd {
  padding: 6px 12px;
  font-size: x-large;
}
.mobile-calendar-table {
  border-collapse: collapse;
  width: 100%;
}
.mobile-calendar-table td {
  text-align: center;
  padding: 0.2em 0;
}
.mobile-calendar-hd,
.mobile-calendar-ht {
  background-color: #00afc7;
  color: #fff;
}
.mobile-calendar-hd {
  overflow: hidden;
  zoom: 1;
}
.mobile-calendar-hd .ym {
  float: left;
}
.mobile-calendar-hd .closer {
  float: right;
}
.mobile-calendar-pane.animated .mobile-calendar-hd .closer {
  display: none;
}
.mobile-calendar-ht td {
  padding: 8px 0;
  font-size: normal;
}
.mobile-calendar-bt .cell {
  display: block;
  height: 2em;
  width: 2em;
  line-height: 2;
  margin: 0 auto;
  color: #000;
}
.mobile-calendar-bt .today .cell {
  background-color: #00afc7;
  color: #fff;
  border-radius: 100%;
}
.mobile-calendar-bt .guss .cell {
  background-color: #ffa500;
  color: #ffffff;
  border-radius: 100%;
}
.mobile-calendar-bt .selected .cell {
  background-color: #aaaaaa;
  color: #ffffff;
  border-radius: 100%;
}
.mobile-calendar-bt .prevMonth .cell,
.mobile-calendar-bt .nextMonth .cell {
  display: none;
}
.mobile-calendar .dot-g {
  position: fixed;
  bottom: 20px;
  left: 50%;
  margin-left: -16px;
}
.mobile-calendar .dot-g .dot {
  background-color: #D8D8D8;
  display: inline-block;
  width: 4px;
  height: 4px;
  margin: 0 4px;
  border-radius: 100%;
  vertical-align: middle;
}
.mobile-calendar .dot-g .dot.cur {
  background-color: #D2D2D2;
  width: 8px;
  height: 8px;
}
.year-view {
  position: absolute;
  background-color: #fff;
  width: 100%;
  height: 100%;
  overflow-x: hidden;
  overflow-y: auto;
}
.year-view .mobile-calendar-ynum {
  background-color: #00afc7;
  height: 2.3em;
  line-height: 2.3;
  color: #fff;
  font-size: xx-large;
  text-align: center;
}
.year-view .mobile-calendar-pane {
  position: relative;
  margin-top: 10px;
  width: 46%;
  padding: 0 2%;
  font-size: 12px;
  float: left;
  min-height: 12em;
}
.year-view .mobile-calendar-yhd {
  line-height: 2;
  padding-left: 0.5em;
  color: #00afc7;
}
.year-view .mobile-calendar-bt td {
  padding: 2px 0;
}
.year-view .cell {
  width: 1.2em;
  height: 1.2em;
  line-height: 1.2;
}


